/* 
    General Styles
*/
body {
  background-image: url("../img/BgSW.png");
}
p{
    color: white;
}

h1{
    color: black;
}

h5{
    color: white;
}
h6{
    color: white;
}

.trash{
    float:right;
    padding:0px;
    border:none;
    background-color: transparent;
    padding-right: 5px;
    color: red;
}

